.dropdown {
  @apply relative inline-block;
  .dropdown-menu {
    @apply absolute min-w-[160px] right-0 mt-2  rounded-lg p-2 bg-white  z-50 border border-gray-100 shadow-dropdown;

    * {
      @apply text-gray-800 dark:text-gray-700;
    }
    .active-item {
      * {
        @apply text-primary dark:text-[#1eaf85];
      }
    }
  }
}

.dark {
  .dropdown {
    --white: theme(colors.themes.dark.gray.gray-300);
    --gray-300: theme(colors.themes.dark.gray.gray-400);
    @apply relative inline-block;
    .dropdown-menu {
      @apply dark:shadow-none;
      .btn {
        @apply hover:dark:bg-gray-300;
      }
    }
  }
}

.shadow {
  @apply border border-gray-100;
  box-shadow: 0px 4px 16px -4px rgba(97, 101, 107, 0.15) !important;
}
