.dark {
  .offcanvas {
    --white: theme(colors.themes.dark.gray.gray-300);
    --gray-100: theme(colors.themes.dark.gray.gray-400);
    --gray-200: theme(colors.themes.dark.gray.gray-500);
    --gray-300: #545456;
    @apply dark:shadow-none dark:border-0;
    .offcanvas-header {
      @apply dark:border-gray-100;
    }

    .avatar {
      .avatar-icon {
        @apply dark:text-gray-700;
      }
    }
  }
}

.offcanvas {
  @apply fixed top-0 bg-white right-0 z-[1999]  border max-w-[430px] w-full max-h-screen h-screen overflow-hidden sm:rounded-tl-3xl sm:rounded-bl-3xl shadow-offcanvas;

  .offcanvas-header {
    @apply flex justify-between items-center px-5 pt-4 pb-3 bg-white sticky top-0 z-[1] border-b border-gray-300;
  }
  .header-title {
    @apply text-fs-4 font-medium;
  }
  .offcanvas-body {
    @apply flex-1 overflow-auto;
  }
}
